Repository nextauthjs/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: src, docs

chore: update README.md
  README.md
Labels: none

feat: add github + mermaid remark plugins (#1)
  docusaurus.config.js
  package-lock.json
  package.json
  src/css/index.css
Labels: src

fix(client): remove `staleTime`
  docs/getting-started/client.md
  docs/getting-started/upgrade-to-v4.md
Labels: docs

docs: fix contributing.md
  CONTRIBUTING.md
Labels: none

fix: simplify repo org docs
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: none

chore: formatting
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

.github/labeler.yml:

src:
  - src/**/*

docs:
  - docs/**/*
  - versioned_docs/**/*
  - versioned_sidebars/**/*
